<%= form_with model: form do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, required: true  %>

    <%= form.label :active %>
    <%= form.check_box :active  %>

    <h3>Fields</h3>
    <%= form.collection_checkboxes :field_ids, Field.order(:created_at), :id, :short_prompt, multiple: true %>
    
    <%= form.submit %>
<% end %>