<h1><%= @form.name %></h1>

<%= link_to "Back", forms_path %>
<%= link_to "Edit", edit_form_path(@form) %>
<%= link_to "Delete", form_path(@form), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>

<p><%= @form.active ? "Active" : "Inactive" %></p>

<h3>Fields</h3>
<ul>
    <% @fields.each do |field| %>
        <li><%= link_to field.prompt, field %></li>
    <% end %>
</ul>