<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Mind Electric" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>

        <nav>
          <ul>
            <li>
              <hgroup>
                <h1>The Mind Electric</h1>
                <p>See how the brain plays around</p>
              </hgroup>
            </li>
          </ul>          
          <ul>
            <li><%= link_to "Home", user_signed_in? ? logs_path : root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "New #{Log.model_name.human}", new_log_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
              <li>
                <details class="dropdown">
                <summary>
                  Admin
                </summary>
                <ul dir="rtl">
                  <li><%= link_to "Forms", forms_path %></li>
                </ul>
              </details>
              </li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>  
      <main>
        <% flash.each do |type, msg| %>
          <div id="flash-wrapper">
            <div class="flash-container">
              <div class="flash <%= type %>"><%= msg %>
              </div>
            </div>
          </div>
        <% end %>
        <%= yield %>
      </main>
      <footer>
        <small></small>
      </footer>
  </body>
</html>
